
<div class="container" style="margin-top: 70px;">
  <h2>Mon Panier</h2><br>
  <table class="table table-hover">
      <thead>
        <tr>
          <th>Pays</th>
          <th>Logement</th>
          <th>Prix (1 Nuit)</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of panier | async">
  
          <td>{{ item.pays }}</td>
          <td> {{ item.titre }}</td>
          <td><span class="badge badge-info">{{ item.prix }}€</span></td>
          <td>
            <button type="button" class="btn btn-primary btn-sm" (click)="supprimerDuPanier(item)">Supprimer</button>
        </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th></th>
          <th></th>
          <th>Total : <span class="badge badge-warning">{{ total }}€</span></th>
          <th *ngIf="nbArticles != 0">
            <button type="button" class="btn btn-danger btn-sm" [routerLink]="['/']" [queryParams]="{commande: true}">Valider</button>
          </th>
          <th *ngIf="nbArticles == 0">
            <button type="button" class="btn btn-danger btn-sm disabled" disabled [routerLink]="['/']" [queryParams]="{commande: true}">Valider</button>
          </th>
        </tr>
      </tfoot>
    </table>
  </div>