<div class="ibox">
    <div class="ibox-content product-box">
            <p class="text-center">{{ article.pays }}</p>
            <div class="small text-center">{{ article.categorie }}</div>
        <div class="product-imitation">
            <img src="{{ article.image }}" alt="Img" >
        </div>
        <div class="product-desc">
            <span class="product-price">
                {{ article.prix }}€
            </span>
            <p class="text-muted">{{ article.nom }}</p>
            <a class="product-name"> {{ article.titre }}</a>

            <div class="small m-t-xs">
                {{ article.description }}
            </div>
            <div class="m-t text-righ">
            <button type="button" (click)="ajouterAuPanier(article)" class="btn btn-xs btn-outline btn-primary btn-reserver">Ajouter<i class="fa fa-long-arrow-right"></i></button>
            <button type="button" (click)="retour()" class="btn btn-xs btn-outline btn-info btn-reserver margin-btn">Retour<i class="fa fa-long-arrow-right"></i></button>
        
        </div>
        </div>
    </div>
</div>
