<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">LocaLux</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" [routerLink] = "['']">Accueil</a>
      </li>
      <li *ngIf="this.authService.isLoggedIn" class="nav-item active">
        <a class="nav-link" [routerLink] = "['/listeArticles']">Liste des Logements</a>
      </li>
      <li *ngIf="!this.authService.isLoggedIn" class="nav-item active">
        <a class="nav-link" [routerLink] = "['/login']">Login</a>
      </li>
      <li *ngIf="!this.authService.isLoggedIn" class="nav-item active">
        <a class="nav-link" [routerLink] = "['/register']">Register</a>
      </li>
      <li *ngIf="this.authService.isLoggedIn" class="nav-item active">
        <a class="nav-link" [routerLink] = "['/panier']">Panier <span class="badge badge-danger">{{ nbArticles }}</span></a>
      </li>
      <li *ngIf="this.authService.isLoggedIn" class="nav-item active">
        <a class="nav-link" [routerLink] = "['/informations']">Mon Compte</a>
      </li>
      <li *ngIf="this.authService.isLoggedIn" class="nav-item active">
        <a class="nav-link change-cursor" (click)="logout($event)">Logout</a>
      </li>
    </ul>
  </div>
</nav>