<div *ngIf="commande" class="alert alert-success">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  <strong>Confirmation de votre commande</strong><br>
  Votre commande a bien été prise en compte, merci pour votre achat.
</div>
<h1>LocaLux</h1>
<h4>La location de logements de luxe</h4>
<div class="gallery">
  <figure>
    <img src="https://images.unsplash.com/photo-1530311583484-ea8bf4c407fb?crop=entropy&fit=crop&fm=jpg&h=400&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=600" alt="" />
  </figure>
  <figure>
    <img src="https://images.unsplash.com/photo-1571710482938-b3a40b97f44e?crop=entropy&fit=crop&fm=jpg&h=400&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=600" alt="" />
  </figure>
  <figure>
    <img src="https://images.unsplash.com/flagged/photo-1563891615762-0f4dfc63cc14?crop=entropy&fit=crop&fm=jpg&h=400&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=600" alt="" />
  </figure>
  <figure>
    <img src="https://images.unsplash.com/photo-1512917774080-9991f1c4c750?crop=entropy&fit=crop&fm=jpg&h=400&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=600" alt="" />
  </figure>
</div>
<div class="gallery">
  <figure>
    <img src="https://images.unsplash.com/photo-1543489822-c49534f3271f?crop=entropy&fit=crop&fm=jpg&h=400&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=600" alt="" />
  </figure>
  <figure>
    <img src="https://images.unsplash.com/photo-1534009502677-4e5080efa8c6?crop=entropy&fit=crop&fm=jpg&h=400&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=600" alt="" />
  </figure>
  <figure>
    <img src="https://images.unsplash.com/photo-1537823286324-7d070255022e?crop=entropy&fit=crop&fm=jpg&h=400&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=600" alt="" />
  </figure>
</div>
<div class="gallery">
  <figure>
    <img src="https://images.unsplash.com/photo-1502672260266-1c1ef2d93688?crop=entropy&fit=crop&fm=jpg&h=400&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=600" alt="" />
  </figure>
  <figure>
    <img src="https://images.unsplash.com/photo-1542643299-be5d00d22db3?crop=entropy&fit=crop&fm=jpg&h=400&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=600" alt="" />
  </figure>
  <figure>
    <img src="https://images.unsplash.com/photo-1564013799919-ab600027ffc6?crop=entropy&fit=crop&fm=jpg&h=400&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=600" alt="" />
  </figure>
  <figure>
    <img src="https://images.unsplash.com/photo-1578683010236-d716f9a3f461?crop=entropy&fit=crop&fm=jpg&h=400&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=600" alt="" />
  </figure>
  <figure>
    <img src="https://images.unsplash.com/photo-1506126279646-a697353d3166?crop=entropy&fit=crop&fm=jpg&h=400&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=600" alt="" />
  </figure>
</div>
