<div *ngIf="!validationOK" class="container">
	<div class="form-group center-block">
		<form [formGroup]="registerForm" (ngSubmit)="creerCompte()">
			<div class="row">
				<div class="col-md-6 mb-3">
					<label for="nom">Nom</label>
					<input type="text" class="form-control" formControlName="nom" id="nom">
					<div *ngIf="f.nom.errors && validation" class="invalid-feedback d-block" fieldError>
						Le champ Nom est requis.
					</div>
				</div>
 				<div class="col-md-6 mb-3">
					<label for="prenom">Prenom</label>
					<input type="text" class="form-control" formControlName="prenom" id="prenom">
					<div *ngIf="f.prenom.errors && validation" class="invalid-feedback d-block" fieldError>
						Le champ Prenom est requis.
					  </div>
				</div>
			</div>

			<div class="mb-3">
				<label for="adresse">Adresse</label>
				<input type="text" class="form-control" formControlName="adresse" id="adresse">
				<div *ngIf="f.adresse.errors && validation" class="invalid-feedback d-block" fieldError>
					Le champ Adresse est requis.
				  </div>
			</div>

			<div class="row">
				<div class="col-md-3 mb-3">
					<label for="cp">Code Postal</label>
					<input type="text" class="form-control" formControlName="codePostal" id="cp">
					<div *ngIf="f.codePostal.errors && validation" class="invalid-feedback d-block" fieldError>
						Le champ Code Postal est requis.
					</div>
				</div>
				<div class="col-md-9 mb-3">
					<label for="ville">Ville</label>
					<input type="text" class="form-control" formControlName="ville" id="ville">
					<div *ngIf="f.ville.errors && validation" class="invalid-feedback d-block" fieldError>
						Le champ Ville est requis.
					  </div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6 mb-3">
					<label for="telephone">Telephone</label>
					<input type="text" class="form-control" formControlName="telephone" id="telephone">
						<div *ngIf="f.telephone.errors?.required && validation" class="invalid-feedback d-block" fieldError>
							Le champ Telephone est requis.
						</div>
						<div *ngIf="f.telephone.errors?.maxlength && validation" class="invalid-feedback d-block" fieldError>
							10 caracteres pour le numero de telephone.
						</div>
						<div *ngIf="f.telephone.errors?.minlength && validation" class="invalid-feedback d-block" fieldError>
							10 caracteres pour le numero de telephone.
						</div>
				</div>

				<div class="col-md-6 mb-3">
					<label for="email">Email</label>
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text">@</span>
						</div>
				
						<input type="email" class="form-control" formControlName="email" id="email">
						<div *ngIf="f.email.errors?.required && validation" class="invalid-feedback d-block" fieldError>
							Le champ Email est requis.
						</div>
						<div *ngIf="f.email.errors?.email && validation" class="invalid-feedback d-block" fieldError>
							Le champ Email n'est pas valide.
						</div>
					</div>
				</div>
			</div>

			<div class="d-block my-3">
				<label for="civilite">Civilité</label>

				<div class="custom-control custom-radio">
					<input id="homme" value="homme" name="civilite" type="radio" formControlName="civilite" class="custom-control-input">
					<label class="custom-control-label" for="homme">Homme</label>
				</div>
				<div class="custom-control custom-radio">
					<input id="femme" value="femme" name="civilite" type="radio" formControlName="civilite" class="custom-control-input">
					<label class="custom-control-label" for="femme">Femme</label>
				</div>
				<div *ngIf="f.civilite.errors && validation" class="invalid-feedback d-block" fieldError>
					Le champ Civilite est requis.
				  </div>
			</div>

			<hr class="mb-4">

			<div class="mb-3">
				<label for="login">Login</label>
				<input type="text" class="form-control" formControlName="login" id="login">
				<div *ngIf="f.login.errors && validation" class="invalid-feedback d-block" fieldError>
					Le champ Login est requis.
				  </div>
			</div>

			<div class="row">
				<div class="col-md-6 mb-3">
					<label for="password">Mot de Passe</label>
					<input type="password" class="form-control" formControlName="mdp" id="password">
					<div *ngIf="f.mdp.errors && validation" class="invalid-feedback d-block" fieldError>
						Le champ Mot de Passe est requis.
					  </div>
				</div>
				<div class="col-md-6 mb-3">
					<label for="password2">Mot de Passe</label>
					<input type="password" class="form-control" formControlName="mdp2" id="password2">
					<div *ngIf="f.mdp2.errors?.required && validation" class="invalid-feedback d-block" fieldError>
						Le champ Mot de Passe est requis.
					</div>
					<div *ngIf="f.mdp2.errors?.mustMatch && validation" class="invalid-feedback d-block" fieldError>
						Le champ Mot de Passe n'est pas similaire.
					</div>
				</div>
			</div>
			
			<button type="submit" class="btn btn-primary">Valider</button>
		</form>
	</div>
</div>

<div *ngIf="validation && validationOK" class="container">
	<!--<app-recapitulatif></app-recapitulatif>-->
</div>